body {
    background-color: powderblue;
  }
  h1 {
    color: violet; font-family: Raleway
  }
  h2 {
    color: blue; font-family: Arial, Helvetica, sans-serif
  }
  div {
    padding: 50px 50px 50px 50px;
  }